.env.yml
.env
grafana-token.txt

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraformrc
terraform.rc
*.tfvars
!example.tfvars
!terraform.tfvars
.terraform.lock.hcl
terraform.tfvars

newuser.yaml

configure-grafana/grafana-token.txt

